h1 {
    color: cadetblue;
    text-align: left;
}

.error-message {
    color: #a94442;
}
.button{
    color: black;
    flex: 8px;
}
.textarea{
    width: 200px;
    height: 150px;

    resize : none;
}

.error-message:first-letter {
    text-transform: capitalize;
}
