<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <title>Home</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbarcollapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <img src="/images/logo.png" th:alt="Logo"/>&nbsp;<h2>Blog</h2>
        </div>
        <div class="collapse navbar-collapse" id="bs-examplenavbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/home}">Home<span
                        class="sr-only">(current)</span></a></li>
                <li><a th:href="@{/newsFeed}">News Feed</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search"
                  th:action="@{/search}" method="get">
                <div class="form-group">
                    <input type="text" class="form-control"
                           placeholder="Search" name="text">
                </div>
                <button type="submit" class="btn btn-default">Go!
                </button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a><img th:alt="*{currentUser.username}"> &nbsp;</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">User
                        Options <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <form class="navbar-form navbar-left"
                                  role="form" th:action="@{/login}" method="post">
                                <input type="hidden" name="action"
                                       id="action" value="logout"/>
                                <button class="btn btn-default"
                                        id="addBookButton">Logout</button>
                            </form>
                        </li>
                        <li><a th:href="@{'/posts?userid=' + ${currentUser.id}}">
                            Show my posts</a></li>
                        <li><a th:href="@{'/editprofile?userid=' + ${currentUser.id}}">Edit profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="support.html">Feedback</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h1>Home page</h1>
<form th:object="${post}" role="form" th:action="@{/home}"
      method="post" onsubmit="return validate(this);">
        <label th:for="${post}">Create new post (140 char):</label>
        <textarea id="postText" th:type="text" th:field="${post.postText}"
                  class="form-control" rows="3"
                  placeholder="write your text here" maxlength="140"></textarea>
        <div id="textarea_feedback"></div>
        <div>
            <input type="submit" name="submit" value="Submit"/>
            <input type="reset" name="reset" value="Clear"/>
        </div>
    <script>
        $(document).ready(function () {
            let text_max = 140;
            $('#textarea_feedback').html(text_max + ' characters remaining ');
            $('#postText').keyup(function () {
                let text_length = $('#postText').val().length;
                let text_remaining = text_max - text_length;
                $('#textarea_feedback').html(text_remaining + ' characters remaining');
            });
        });
        function validate(form) {
           let valid = true
            if($('#postText').val().length === 0){
                alert("Cannot submit empty post");
                valid = false;
            }
            return valid;
        }
    </script>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    <div th:insert="~{footer :: copy}"></div>

</form>
</body>
</html>