<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <title>Home</title>
</head>
<div th:fragment="navigation"></div>
<body>
<h1>Home page</h1>
<form th:object="${post}" role="form" th:action="@{/home}"
      method="post" onsubmit="return validate(this);">
    <div class="form-group">
        <label th:for="${post}">Create new post (150 char):</label>
        <textarea th:field="${post.postText}"
                  class="form-control" rows="3"
                  placeholder="write your text here" maxlength="150"></textarea>
        <div id="textarea_feedback"></div>
        <div>
            <input type="submit" value="Submit" id="submit"/>
            <input type="reset" value="Clear">
        </div>
    </div>
    <div th:inser="~{footer :: copy}"></div>
    <script>
        $(document).ready(function () {
            var text_max = 150;
            $('#textarea_feedback').html(text_max + ' characters remaining ');
            $('#postText').keyup(function () {
                var text_length = $('#postText').val().length;
                var text_remaining = text_max - text_length;
                $('#textarea_feedback').html(text_remaining + ' characters remaining');
            });
        });
        function validate(form) {
            valid = true
            if($('#postText').val().length == 0){
                alert("Cannot submit empty post");
                valid = false;
            }
            return valid;
        }
    </script>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</form>
</body>
</html>