<html>
<title>Home</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/navigation.css}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbarcollapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <img src="/images/logo.png" alt="Blog Logo"/>&nbsp;<h2>Blog</h2>
        </div>
        <div class="collapse navbar-collapse" id="bs-examplenavbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/home}">Home<span
                        class="sr-only">(current)</span></a></li>
                <li><a th:href="@{/newsFeed}">News Feed</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search"
                  th:action="@{/search}" method="get">
                <div class="form-group">
                    <input type="text" class="form-control"
                           placeholder="Search" name="text">
                </div>
                <button type="submit" class="btn btn-default">Submit
                </button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <% if (session.getAttribute("user") != null) { %>
                <li><a href="${pageContext.request.contextPath}/viewprofile?userid=${user.id}">
                    <img alt="${user.username}" src=<%UserServiceImpl.
                         userService().getGravatarURL(user.getEmail(), 30);%>/>&nbsp;${user.username}</a></li>
                <% } %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">User
                        Options <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <form class="navbar-form navbar-left"
                                  role="form" action="@{/login}" method="post">
                                <input type="hidden" name="action"
                                       id="action" value="logout"/>
                                <button class="btn btn-default"
                                        id="addBookButton">Logout</button>
                                <%new SimpleSessionStatus().setComplete();%>
                            </form>
                        </li>
                        <li><a href="${pageContext.request.contextPath}/posts?userid=${user.id}">
                            Show my Posts</a></li>
                        <li><a href="${pageContext.request.contextPath}/editprofile?userid=${user.id}">Edit Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="support.jsp">Feedback</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</html>